extends layout

block content


   h1.well Your Order!!

   h2.well= theTaco.name
   h2.well= theTaco.type
   h2.well= theTaco.size
   h2.well= theTaco.bean


   .form-group
    form(action='/'+ theTaco._id + '/delete', method="post")
      button(type='submit' value='delete' class='btn btn-danger') Delete

   
      button(type='submit' value='edit' class='btn btn-info')
        a(href='/'+theTaco._id + '/edit') Edit
      button(type='submit' class='btn btn-info')
        a(href='/') Index